<%- include("partials/header-admin") %>

<main class="container mt-auto py-3 px-2">
  <h2><span class="text-muted">Recent </span>POSTS.</h2>
    <table class="table table-hover my-4 p-4">
        <thead>
          <tr>
            <th scope="col">Date posted</th>
            <th scope="col">Post Title</th>
            <th scope="col">Post Subject</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
            <% posts.forEach((p) => {  %>
                <tr>
                    <th scope="row"><%= p.postDate %> </th>
                    <td><%= p.postTitle %> </td>
                    <td><%= p.postSub %> </td>
                    <td>
                        <a class="card-link btn btn-outline-danger mx-2 post-delete" onclick="deletePost('<%= p._id %>')">Delete</a>
                        <a class="card-link btn btn-outline-dark mx-2" href="/posts/edit/<%= p._id %>">Edit</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
      </table>
</main>

<script>
  function deletePost(postId){
    const endpoint = `/posts/delete/${postId}`;
    fetch(endpoint,{method:'DELETE'})
    .then((response) => response.json()).then((data) => window.location.href = data.redirect)
    .catch(err => console.log(err));
  }
</script>

<%- include("partials/footer") %>