<%- include("partials/header") %> 

<main class="container py-5">
    <!-- <h2>HomePage</h2> -->
    <h3>Posts Here</h3>
    <div class="row">
      <% post.forEach((p) => {  %>
        <div class="card col-lg-4 col-md-6 mx-2 my-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= p.postTitle  %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=  p.postDate%></h6>
            <p class="card-text mb-2"><%=  p.postSub%></p>
            <a href="/posts/<%=p._id%>" class="card-link btn btn-outline-primary my-2">Read More</a>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

</main>

<%- include("partials/footer") %> 
