<%- include('partials/header.ejs') %> 


<main class="container py-5" style="width: 80rem;">
    <h2 class="my-2"><%= post_title  %></h2>
    <h6 class="text-muted mb-3">Posted on: <%= posted_on %> </h6>
    <h5 class="mb-3">Subject: <%= post_subject %> </h5>
    <p><%= post_content %></p>
</main>


<%- include('partials/footer.ejs') %> 